FoodPort/FinalProject_FoodPort/FinalProject_FoodPort/Service References/ServiceReference1/foodportbankwsdl2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FoodPort_Payment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FoodPort_Payment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAccountBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="CustomerAccountHolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestaurantAccountBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="RestaurantAccountHolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestaurantAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransactionDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionID" type="xs:int" />
      <xs:element minOccurs="0" name="ValidTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Validfrom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
</xs:schema>